<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cms">
            <group id="page_builder_disable" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="3000"
                   translate="label comment">
                <label>Disabled CMS Components</label>
                <field id="excluded_blocks" translate="label" type="text" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disabled CMS Blocks</label>
                    <comment>Enter a comma (,) delimited list of CMS blocks which should not use the Page Builder
                        editor.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
